<mat-toolbar>
    <mat-toolbar-row>
      <span>{{movie?.title}}</span>
      <span class="example-spacer"></span>
      <button mat-mini-fab color="primary" (click)="save()">
        <mat-icon>save</mat-icon>
      </button>
    </mat-toolbar-row>
  </mat-toolbar>

<div *ngIf="movie" class="container-fluid">
    <mat-form-field appearance="fill">
        <mat-label>Title</mat-label>
        <input matInput [(ngModel)]="movie.title">
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>IMDB ID</mat-label>
        <input matInput [(ngModel)]="movie.imdb_id">
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Description</mat-label>
        <input matInput [(ngModel)]="movie.description">
    </mat-form-field>
</div>