<h1 mat-dialog-title>Movie</h1>
<div mat-dialog-content>
  <p>What's your favorite animal?</p>
  <mat-form-field>
    <mat-label>Name</mat-label>
    <input matInput [(ngModel)]="data.name">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Position</mat-label>
    <input matInput [(ngModel)]="data.postion">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Weight</mat-label>
    <input matInput [(ngModel)]="data.weight">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Symbol</mat-label>
    <input matInput [(ngModel)]="data.symbol">
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">No Thanks</button>
  <button mat-button [mat-dialog-close]="data" cdkFocusInitial>Ok</button>
</div>